<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-time Counter and List</title>
</head>
<body>
    <h1>Real-time Counter: <span id="counter">{{ counter }}</span></h1>
    <h2>Real-time List:</h2>

    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Mean Account</th>
                <th>Mean # TX per Day</th>
                <th>Std Account</th>
                <th>TX Amount</th>
                <th>TX Datetime</th>
                <th>TX Fraud</th>
                <th>TX Time Days</th>
                <th>TX Time Seconds</th>
                <th>X Customer ID</th>
                <th>X Terminal ID</th>
                <th>Y Customer ID</th>
                <th>Y Terminal ID</th>
                <th>Prediction</th>

            </tr>
        </thead>
        <tbody>
            {% for data in list_elements %}
            <tr>
                <td>{{ data.transaction_id }}</td>
                <td>{{ data.mean_account }}</td>
                <td>{{ data.mean_nb_tx_per_day }}</td>
                <td>{{ data.std_account }}</td>
                <td>{{ data.tx_amount }}</td>
                <td>{{ data.tx_datetime }}</td>
                <td>{{ data.tx_fraud }}</td>
                <td>{{ data.tx_time_days }}</td>
                <td>{{ data.tx_time_seconds }}</td>
                <td>{{ data.x_customer_id }}</td>
                <td>{{ data.x_terminal_id }}</td>
                <td>{{ data.y_customer_id }}</td>
                <td>{{ data.y_terminal_id }}</td>
                <td>{{ data.prediction }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        setTimeout(function(){
        location.reload();
        }, 5000); // refresh every 5 seconds
    </script>
</body>
</html>
